.space {
  flex: 1 1 auto;
}

.sidenav-toggle {
  display: none;
}

.container {
  height: auto;
}

.logo {
  color: #ffffff;
  text-decoration: none;
}

.sticky {
  opacity: 1;
  position: fixed;
  z-index: 100;
  animation: popDown 0.5s;
}

@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}

@media (max-width: 580px) {
  .desktop-menu {
    display: none;
  }

  .sidenav-toggle {
    display: flex;
  }
}
